body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    height: 100%;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 768px) {
    .main-nav ul {
        display: none;
    }
    .burger-menu {
        margin-left: 0;
    }
}
