@media (max-width: 768px) {
    .products-left {
        margin-bottom: 100px;
        width: 100%;
    }

    .products-right {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
        height: auto;
    }

    .product-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 5px 20px;
    }

    .product-image {
        display: block;
        width: 35%;
    }

    .product-image img {
        width: 55%;
        height: auto;
        margin-bottom: 0;
    }

    /* Products Left Section */
    #productsTitle {
        font-size: 27px;
        margin: 0;
    }

    #productsDescription {
        font-size: 20px;
    }

    .product-item {
        width: 60px;
        height: 60px;
    }

    /* Products Right Section */
    .product-description {
       width: 100%;
        text-align: left;
    }

    .product-description h2 {
        font-size: 42px;
        margin: 0;
        padding: 0;
    }

    .product-description p {
        font-size: 14px;
        padding-bottom: 5px;
    }

    .specific-image-1 {
        width: 100% !important;
    }

    .specific-image-2 {
        width: 94% !important;
    }

    .specific-image-3 {
        width: 79% !important;
        margin-left: 10%;
    }

    .products-container {
        flex-direction: column;
        align-items: center;
    }
}
